
  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image" href="../images/logo.jpeg">
    <title>17</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
rel="stylesheet"
/>
<!-- Google Fonts -->
<link
href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
rel="stylesheet"
/>
<!-- MDB -->
<link
href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.min.css"
rel="stylesheet"
/>
<link rel="stylesheet" href="../style/index.css">
<script src="java/index.js"></script>
</head>
<body class="bg-black">

    <%- include('../partials/top-nav.ejs') %>
<!-- Product Details Section -->
<section class="container my-5">
    <div class="row">
      <div class="col-md-6">
        <div id="carouselExampleControls" class="carousel slide" data-mdb-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../images/<%= product_client.Image  %>" class="d-block w-100 product-image" alt="Product Image 1">
            </div>
            <div class="carousel-item">
              <img src="https://via.placeholder.com/400" class="d-block w-100 product-image" alt="Product Image 2">
            </div>
            <div class="carousel-item">
              <img src="https://via.placeholder.com/400" class="d-block w-100 product-image" alt="Product Image 3">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleControls" data-mdb-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleControls" data-mdb-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-md-6 mt-5">
        <h6 class="text-muted">17</h6>
        <h2 class="text-light" style="font-size: 1.5rem;"><%= product_client.pname  %></h2>
        <p class="text-light" style="font-size: 1rem;"><%= product_client.Description  %></p>
        <% if(product_client.sale != null){ %>
          <p class="card-text text-light" style="font-size: 1rem; font-weight: 200;">
            <del class="text-danger me-3" style="text-decoration: line-through;">LE <%= product_client.sale%>.00 EGP</del> LE <%= product_client.Price%>.00 EGP
          </p>
        <%}else{ %>
          <p class="card-text text-light" style="font-size: 1.2rem; font-weight: 200;">LE <%= product_client.Price%>.00 EGP</p>
        <% } %>
        <div class="mt-5">
          <h5 class="text-light" style="font-size: 0.9rem;"> Size</h5>
        <form id="sizeForm" method="post" action="/add-to-cart/<%= product_client._id  %>">
            <input type="hidden" id="size" name="size">
            <button type="button" class="size-option me-3 p-3 btn btn-dark btn-rounded" value="S"  onclick="selectSize('S')">S</button>
            <button type="button" class="size-option me-3 p-3 btn btn-dark btn-rounded" value="M"  onclick="selectSize('M')">M</button>
            <button type="button" class="size-option p-3 btn btn-dark btn-rounded " value="L"  onclick="selectSize('L')">L</button>
          
      
        </div>

        <div class="mt-5">
            <h5 class="text-light"  style="font-size: 1rem;">Quantity</h5>
            <input type="number" class="form-control" value="1" min="1" disabled>
          </div>
        
        <button type="submit" class="btn btn-dark mt-5 w-100" ">Add to Cart</a>
      </form>
      </div>
    </div>
  </section>

      
      <hr class="hr bg-dark"  style="height: 0.1px; margin-bottom: 3px;"/>


      <hr class="hr bg-dark"  style="height: 0.1px; margin-bottom: 3px;"/>
      

      <%- include('../partials/bottom-nav.ejs') %>


      <script>

function updateSelectedSizeVisual() {
            var buttons = document.querySelectorAll('.size-option');
            buttons.forEach(function(btn) 
            {
                // Remove active class from all buttons
                btn.classList.remove('active');


                  if(btn.value == document.getElementById('size').value )
                  {
                    btn.classList.add('active');
                  }
                
            });

            

        }

        function selectSize(size) {
            // Update selected size
            document.getElementById('size').value = size;
            console.log("Size " + size);
            // Update visual
            updateSelectedSizeVisual();
        }
    

    </script>
    <!-- MDB -->
<script
type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js"
></script>
</body>
</html>